@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans-italic.ttf');
    font-weight: normal;
    font-style: italic;
}

.header__logo .header__logo--container {
    width: inherit;
    margin-top: 10px;
}

.blogheading{
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

body {
  font-family: opensans, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: #314a80;
}

.excerpt, excerpt{
  font-size: 1rem;
}

.excerptheading, excerptheading {
  font-size: 1rem;
}

.post-card__header {
    line-height: 2rem;
}

.header {
     background-color: #2b4271;
}

.hero::before {
  background: none;
  background-color: #2b4271;
}

.hero--small::before {
  background-color: #2b4271;

}


.header.fix-nav {
    //box-shadow: 0px 5px 16px 0px rgba(97, 97, 97, 0.45);
    background-color: #2b4271;
}

.header__link {
    background-color: #2b4271;
    color: #ffffff;
    border-top: 1px solid #2b4271;
}

.header__links {
  background-color: #2b4271;
}

.post-card {
        box-shadow: none;
        background-color: #f9f9f9;
        margin-bottom: 1.26316%;
}

.post-card__inner {
    color: #4a4a4a;
    padding-top: 1.1rem;
}

pre, .highlight {
    border: none;
    border-radius: 0.3rem;
    font-size: 1.3rem;
}


table {
    display: block;
    overflow-x: auto;
    border: none;
}

.post-card__thumb {
    border-radius: .3rem;
}

.mathtext {
    overflow-x: auto;
    overflow-y: hidden;
}

.content img, .img {
    display: block;
    max-width: 100%;
    margin-bottom: 1rem;
    border: none;
    box-shadow: 0 0 20px 3px #0000001f;
}

.imgright {
  float: right;
  margin-left: 10px;
}

.imgcap {
  img {
    /*border: 1px solid #999;*/
    max-width: 100%;
    margin-bottom: 34px;
  }
  color: #555;
  font-size: 14px;
  text-align: center;
}

.thecap {
    text-align: center;
    margin-bottom: 10px;
    //margin-top: -8px;
}

.project {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
  text-align: center;
}

@media (max-width: 30rem) {
  .project h1 {
    font-size: 1.5rem;
  }
}

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 25px;
}

.thumbnail-container img{
  margin-top: -11.5%;
  margin-bottom: -11.5%;
}


.hero--small {
    min-height: 26.75rem;
}


.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight .hll { background-color: #f5f5f5 }
.highlight  { background: #f5f5f5; }
.highlight .c { color: #408090; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #007020; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #408090; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #408090; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #007020 } /* Comment.Preproc */
.highlight .cpf { color: #408090; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #408090; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408090; background-color: #fff0f0 } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #333333 } /* Generic.Output */
.highlight .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #007020 } /* Keyword.Pseudo */
.highlight .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #902000 } /* Keyword.Type */
.highlight .m { color: #208050 } /* Literal.Number */
.highlight .s { color: #4070a0 } /* Literal.String */
.highlight .na { color: #4070a0 } /* Name.Attribute */
.highlight .nb { color: #007020 } /* Name.Builtin */
.highlight .nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.highlight .no { color: #60add5 } /* Name.Constant */
.highlight .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #007020 } /* Name.Exception */
.highlight .nf { color: #06287e } /* Name.Function */
.highlight .nl { color: #002070; font-weight: bold } /* Name.Label */
.highlight .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #062873; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #bb60d5 } /* Name.Variable */
.highlight .ow { color: #007020; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #208050 } /* Literal.Number.Bin */
.highlight .mf { color: #208050 } /* Literal.Number.Float */
.highlight .mh { color: #208050 } /* Literal.Number.Hex */
.highlight .mi { color: #208050 } /* Literal.Number.Integer */
.highlight .mo { color: #208050 } /* Literal.Number.Oct */
.highlight .sa { color: #4070a0 } /* Literal.String.Affix */
.highlight .sb { color: #4070a0 } /* Literal.String.Backtick */
.highlight .sc { color: #4070a0 } /* Literal.String.Char */
.highlight .dl { color: #4070a0 } /* Literal.String.Delimiter */
.highlight .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4070a0 } /* Literal.String.Double */
.highlight .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #4070a0 } /* Literal.String.Heredoc */
.highlight .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.highlight .sx { color: #c65d09 } /* Literal.String.Other */
.highlight .sr { color: #235388 } /* Literal.String.Regex */
.highlight .s1 { color: #4070a0 } /* Literal.String.Single */
.highlight .ss { color: #517918 } /* Literal.String.Symbol */
.highlight .bp { color: #007020 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #06287e } /* Name.Function.Magic */
.highlight .vc { color: #bb60d5 } /* Name.Variable.Class */
.highlight .vg { color: #bb60d5 } /* Name.Variable.Global */
.highlight .vi { color: #bb60d5 } /* Name.Variable.Instance */
.highlight .vm { color: #bb60d5 } /* Name.Variable.Magic */
.highlight .il { color: #208050 } /* Literal.Number.Integer.Long */
